.btn {
    height: 4rem;
    padding: 1rem;
    background-color: rgb(52, 52, 52);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: .3rem;
    border-radius: 10px;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.operador{
    background-color: orange;
    font-weight: bold;
}